@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
@import 'normalize.css';

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: #1D2123;
}